.header{
    position:absolute;
    right: 10px;
    font-size: 14px;
    color: rgb(211, 211, 211)
    
}
.header a{
    color: #202124
}

#google_icon{
    padding-top: 109px;
    display: block;
    text-align: -webkit-center;
}
#form{
    display: block;
    top: 28px;
    padding: 10px 18px;
    text-align: -webkit-center;
}
body{
    font-family: Arial,sans-serif;
}
